* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  position: relative;
}
a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  transition: color 0.2s linear;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 0 10%;
}
.logo {
  width: 8.0625em;
  height: 6.75em;
}
.logo__img {
  width: 100%;
  height: auto;
}
.section-title {
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1.1875em;
}
.section-title:after {
  content: "";
  width: 5.5em;
  height: 0.0625em;
  margin-top: 0.625em;
  background-color: #f69679;
}
.section-title--left {
  align-items: left;
}
.main-menu {
  margin-left: auto;
}
.main-menu__list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-menu__item {
	list-style: none;
	margin-right: 1.875em;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
}
.main-menu__link {
 	text-decoration: none;
 	cursor:pointer;
} 
.button-menu {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  text-align: center;
  padding: 0.625em 0 0;
  margin: 0;
}
.button-menu--open {
  display: block;
}
.button-menu__link {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.0625em 2.5em;
  display: block;
  text-decoration: none;
}
.button-menu__link:hover {
  background-color: #eee;
  color: #333;
}
/* for css menu */
.main {
	background-image: url(../media/bg.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
 	height: 100vh;
  	color: #fff;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	padding: 0 10%;
}
/* main__title */
.main__title {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.25em;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1,8px;
	text-shadow: 0 0.0625em 2.5em rgba(1, 1, 1, 0.55);
	color: rgba(255, 255, 255, .8);
	margin: 0 0 40px;
}
.main__title-big {
	display: block;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 100px;
	font-style: normal;
}
/* main__button */
.main__button {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-transform: uppercase;
  	text-decoration: none;
  	border-radius: 0.1875em;
  	border: 0.1875em solid #fff;
  	width: 17.5em;
  	height: 4.25em;
  	color: #fff;
  	font-size: 1.125em;
  	font-weight: 700;
  	margin-bottom: 2.5em;
}
/* main__description */
.main__description {
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}
.features {
  	padding: 100px 10%;
}
.features__list {
  	margin: 0;
  	padding: 0;
  	display: flex;
  	justify-content: space-between;
}
.features__item {
  	list-style: none;
  	text-align: center;
  	width: 360px;
}
.features__item:before {
	content: "";
	width: 107px;
	height: 107px;
	border: 1px solid #000;
	border-right: 50%;
	display: inline-block;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.features__item--burger:before {
	background-image: url(../media/burger.png);
}
.features__item--money:before {
	background-image: url(../media/money.png);
}
.features__item--man:before {
	background: url(../media/man2x.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.features__description {
  	margin: 0;
  	font-size: 16px;
  	font-weight: 300;
  	line-height: 18px;
  	color: #8b8b8b;
}
.app {
  	background-color: #f7f7f7;
  	padding: 180px 10% 0;
  	height: 700px;
  	display: flex;
}
.app__image {
	width: 523px;
	background-image: url(../media/iphone@2x.png);
	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: top;
  	margin-top: -80px;
}
.app__content {
  	width: 543px;
  	margin-left: auto;
}
.app__description {
  	color: #8b8b8b;
  	font-size: 16px;
  	font-weight: 300;
  	line-height: 18px;
  	margin: 0 0 30px;
}
.app__link {
  	background-repeat: no-repeat;
  	background-size: cover;
  	display: inline-block;
  	margin-right: 10px;
  	/* hide text */
  	text-indent: -9999px;
  	overflow: hidden;
}
.app__link--appstore {
	background-image: url(../media/appstore@2x.png);
	width: 112px;
  	height: 39px;
}
.app__link--googleplay {
	background-image: url(../media/gp@2x.png);
	width: 120px;
  	height: 39px;
}
