* {
  	box-sizing: border-box;
}
body {
  	font-family: 'Lato', sans-serif;
  	position: relative;
  	background-image: url(../media/bg.jpg);
	background-repeat: no-repeat;
  	background-size: 100% 100%;
}
a {
  	color: rgba(255, 255, 255, 0.8);
  	text-decoration: underline;
  	transition: color 0.2s linear;
}
a:hover {
  	text-decoration: none;
  	color: #fff;
}
.header {
  	position: 0 100px;
  	width: 100%;
  	display: flex;
  	padding: 0 10%;
 	background-repeat: no-repeat;
	background-size: cover;
}
.logo {
  width: 129px;
  height: 108px;
}
.logo__img {
  width: 100%;
  height: auto;
}
.section-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 19px;

}
.section-title:after {
  content: "";
  width: 88px;
  height: 1px;
  margin-top: 10px;
  background-color: #f69679;
}
.section-title--left {
  align-items: left;
}
.main-menu {
  	margin-left: auto;
}
.main-menu__list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-menu__item {
	list-style: none;
	margin-right: 30px;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
}
.main-menu__link {
 	text-decoration: none;
 	cursor:pointer;
} 
.button-menu {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  text-align: center;
  padding: 10px 0 0;
  margin: 0;
}
.button-menu--open {
  display: block;
}
.button-menu__link {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 40px;
  display: block;
  text-decoration: none;
}
.button-menu__link:hover {
  background-color: #eee;
  color: #333;
}





/* for css menu */
/* Исправить .main */
.main {
  	color: #fff;
  	/*
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	padding: 0 10%; */
}
.fill_form {
	margin: 0;
	text-align: center;
}
.action_page {
	width: 480px;
	margin: 0 auto;

}

/* Full-width input fields */

input[type=text], input[type=password], input[type=firstn], input[type=secondn], input[type=mobphone] {
  width: 100%;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 1vh 20px;
  margin: 20px 150px 0;
  border: none;
  cursor: pointer;
  width: 10em;
  opacity: 0.9;
  text-align: center;
}
.registerbtn:hover {
  opacity:1;  
}
/* Add a blue text color to links */
/*
a {
  color: dodgerblue;
  }
  /* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: center;
}